.game {
    &__wrapper {
        box-shadow: 1px 1px 1px black ;
        background-color: rgba(10, 10, 10, 0.800);
        width: 60%;
        height: 65%;
        display: grid;
        grid-template-rows: .4fr .5fr 1fr 1fr 1fr;
        align-items: center;
        text-align: center;
        color: white;
        
    }
}