.sign {
  &__wrapper {
    box-shadow: 1px 1px 1px black;
    background-color: rgba(10, 10, 10, 0.8);
    width: 60%;
    height: 65%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "title title title"
      "device device device";
    align-items: center;
    text-align: center;
    color: white;
  }

  &__title {
    grid-area: title;
  }

  &__form {
    grid-area: device;
    text-align: left;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 5px;
    max-width: 200px;
    position: relative;
  }

  &__button {
    position: relative;
    font-family: inherit;
    font-size: 1em;
    background-color: blue;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    transition: border 0.5s ease;
  }

  &__button:hover {
    border: 1px solid gray;
    transition: border 0.5s ease;
  }

  &__button:active {
    border: 1px solid black;
    transition: border 0.5s ease;
  }

  &__error_positioned {
    position: absolute;
    top: 45px;
    color: red;
  }

  &__error_hidden {
    opacity: 0;
  }

  &__error {
    opacity: 1;
    transition: opacity 1s ease;
  }
}

.loader {
  position: relative;
  margin: auto;
  width: 20px;
  height: 20px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
